@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
.container {
    width: 80%;
    margin: auto;
}
header {
    position: fixed;
    width: 100%;
}
.menu {
    display: flex;
    justify-content: center;
    gap: 57px;
    align-items: center;
    padding: 32px 0;
        flex-wrap: wrap;

}
.about ul {
    display: flex;
    gap: 32px;
}
.menu nav ul {
    display: flex;
        gap: 32px;
        align-items: center;
}

.about ul li a {
    font-family: "Barlow", sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: white;
        font-weight: 400;

}
.text {
    font-family: "Barlow", sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: white;
    font-weight: 400;
        

}
.text2 {
    background-color: #FF4D01;
    padding: 19px 24px;
    font-family: "Barlow", sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: white;
    font-weight: 400;
    
}
.firstSection {
    background-image: url("./../assets/IMAGE.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 955px;
}
.firstSectionContent {
    text-align: center;
    padding: 251px 0 0 0 ;
        flex-wrap: wrap;

}
.firstSectionContent h1 {
    font-size: 72px;
    font-weight: 400;
    font-family: "Barlow", sans-serif;
    color: white;
    line-height: 84px;
}
.firstSectionContent p {
    font-size: 18px;
    font-weight: 400;
        font-family: "Barlow", sans-serif;
    color: white;
    line-height: 30px;
    margin-top: 20px;
}
.btn {
    display: flex;
    gap: 28px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 35px;
}
.btn a {
    padding: 25px 38px ;
    color: white;
    font-size: 18px;
    font-weight: 400;
            font-family: "Barlow", sans-serif;

}
.btnn {
    background-color: #FF4D01;
}
.btnn2 {
    border: solid 2px white;
}
.secondSectionContent {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 73px;
    padding: 124px 0 0 0;
}
.img img {
    width: 479px;
    height: 681px;
    padding: 20px 0 0 20px;
    
}
.img a  {
    border: #FF4D01 solid 3px;
    padding: 102px;
    position: absolute;
}
.img {
    display: flex;
    gap: 20px;
}
.txtFlex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 57px;
}
.texts h3 {
    font-size: 20px;
    font-weight: 400;
    font-family: "Barlow", sans-serif;
    line-height: 22px;
    letter-spacing: 0.8px;
    color: #FF4D01;
}
.texts h2 {
    font-size: 54px;
    font-weight: 400;
    font-family: "Barlow", sans-serif;
    line-height: 61.99px;
    margin: 15px 0 0 0;
}
.texts p {
    font-size: 18px;
    line-height: 30.01px;
    color: #605E5D;
    font-weight: 400;
    font-family: "Barlow", sans-serif;
    margin: 19px 0 0 0;
}
.txtFlex h4 {
    font-size: 72px;
    font-weight: 400;
    color: #FF4D01;
    line-height: 84.02px;
    font-family: "Barlow", sans-serif;
}
.txt {
    display: flex;
}
.txtFlex h5 {
    font-size: 72px;
    font-weight: 400;
    color: #000000;
    line-height: 84.02px;
    font-family: "Barlow", sans-serif;
}
.littletxt {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.littletxt p {
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    font-family: "Barlow", sans-serif;
    color: #989899;
}
.btnContent {
    width: 237px;
    height: 75px;
    background-color: white;
    color: #191919;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    font-family: "Barlow", sans-serif;
    margin: 49px 0 0 0;
    cursor: pointer;
}
.thirdSectionTxt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 299px 0 0 0;
}
.bigTxt h4 {
    font-size: 20px;
    font-weight: 400;
    font-family: "Barlow", sans-serif;
    letter-spacing: 0.8px;
    line-height: 22px;
    color: #FF4D01;
}
.bigTxt h2 {
    font-size: 54px;
    font-weight: 400;
    font-family: "Barlow", sans-serif;
    color: #191919;
    line-height: 61.99px;
    margin: 15px 0 0 0 ;
}
.thirdBtns :first-child{
    color: white;
    border: none;
    width: 169px;
    height: 75px;
    background-color: #FF4D01;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    font-family: "Barlow", sans-serif;
    cursor: pointer;
}
.thirdBtns :last-child  {
    background-color: white;
    width: 211px;
    height: 75px;
    border: #191919 solid 2px;
    cursor: pointer;
}
.thirdBtns {
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
}
.content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 64px 0 0 0;
    gap: 57px;
}
.block h3 {
    font-size: 34px;
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    line-height: 48.01px;
    margin: 32px 0 0 0;
}
.size {
    width: 70px;
    height: 68px;
}
.block p {
    font-size: 18px;
    font-weight: 400;
    font-family: "Barlow", sans-serif;
    color: #605E5D;
    line-height: 30.01px;
    margin: 14px 0 0 0;
}
.block button {
    width: 30px;
    height: 30px;
    background-color: #000000;
    cursor: pointer;
}
.info {
    display: flex;
    gap: 10px;
    margin-top: 13px;
    align-items: center;
    flex-wrap: wrap;
}
.block a {
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    font-family: "Barlow", sans-serif;
    line-height: 20px;
}
.thirdSection {
    padding: 0 0 299.77px 0;
}
.content2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 80px 0 0 0;
    gap: 57px;
}
.fourthSection {
    background-image: url("./../assets/bg.jpg");
    width: 100%;
    height: 545px;
    background-repeat: no-repeat;
    background-size: cover;
}
.fourthSectionContent h2 {
    font-size: 54px;
    line-height: 61.99px;
    font-weight: 400;
    font-family: "Barlow", sans-serif;
    color: #191919;
    padding: 114px 0 0 0;
}
.fourthSectionContent p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30.01px;
    font-family: "Barlow", sans-serif;
    color: #605E5D;
    margin: 20px 0 0 0;
}
.flex {
    display: flex;
    gap: 28px;
    margin: 35px 0 0 0;
}
.flex :first-child {
    width: 169px;
    height: 75px;
    background-color: #FF4D01;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 18px;
    font-weight: 400;
    font-family: "Barlow", sans-serif;
    line-height: 20px;
}
.flex :last-child {
    width: 180px;
    height: 75px;
    border: #191919 solid 2px ;
    color: #191919;
    font-size: 18px;
    font-weight: 400;
    font-family: "Barlow", sans-serif;
    line-height: 20px;
}