@media only screen and (max-width: 635px) {
    .thirdBtns :last-child {
        width: 169px;
    }
    .container {
        width: 100%;
    }
}
@media only screen and (max-width: 320px) {
    .container {
        width: 100%;
    }
}