@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "DM Sans", sans-serif;

}

.container {
    width: 80%;
    margin: auto;
}

header {
    padding: 30px 0;
}
.hamburgerMenu {
    display: none;
}
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu nav ul {
    display: flex;
    gap: 48px;
}

.menu ul li a {
    color: #696871;
    font-size: 15px;
    font-weight: 700;
}

.menu ul li a:hover {
    color: #19191B;
    border-bottom: 2px solid #5454D4;
    padding-bottom: 10px;
}

.getBtn a {
    border: 1px solid;
    padding: 19px 59px;
    border-radius: 10px;
    background-color: #FF7143;
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: -0.53px;
}

.firstSection {
    margin-top: 70px;
}

.blocks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.secondImg img {
    width: 100%;
}

.blocks:first-child div {
    width: 49%;
}

.blocks h1 {
    font-size: 80px;
    line-height: 77px;
    letter-spacing: -2.5px;
    color: #19191B;
}

.blocks p {
    font-size: 20px;
    color: #696871;
    line-height: 30px;
    letter-spacing: -.63px;
    margin: 30px 0 50px 0;
}

.btnGroup {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.btnGroup .first {
    padding: 19px 59px;
    background-color: #5454D4;
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: -0.53px;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
}

.btnGroup .second {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #E7E7E7;
    background-color: #fff;
}

.logos {
    padding: 100px 0 150px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.threeSection .blocks .secondImg img {
    width: 70%;
}

.blocks h2 {
    font-size: 50px;
    color: #19191B;
}

.threeSection a {
    font-size: 17px;
    color: #5454D4;
}

.forSection {
    margin-top: 105px;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.card h4 {
    font-size: 24px;
    color: #19191B;
    letter-spacing: -.75px;
}

.fiveSection {
    margin-top: 150px;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title h2 {
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -1.88px;
}

.secondBtnGroup {
    background-color: #F7F7FB;
    border-radius: 10px;
    position: relative;
    padding: 5px;
}

.secondBtnGroup button {
    border: 0;
    width: 160px;
    height: 55px;
}

.secondBtnGroup .first {
    border-radius: 10px 0 0 10px;
    background-color: #5454D4;
    color: #FFFFFF;
    font-weight: 700;
}

.service {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.service .serviceCard {
    width: 300px;
    text-align: center;
    background-color: #F8F8F8;
    padding: 34px 0 27px 0;
    border-radius: 10px;
    margin-top: 98px;
}

.serviceCard span {
    color: #696871;
    font-size: 18px;
}

.serviceCard h4 {
    font-size: 60px;
    color: #1D293F;
    margin: 22px 0 28px 0;
}

.serviceCard ul li {
    margin: 19px 0;
    font-size: 17px;
    color: #696871;
}

.serviceCard button {
    padding: 19px 95px;
    border-radius: 10px;
    border: 1px solid #EAE9F2;
    margin-top: 36px;
}

/* .active {
    transform: scale(1.2);
    background-color: #FF7143 !important;
    color: #fff !important;
}
.active span {
    color: #FFFFFF;
}

.active h4 {
    color: #fff;
}

.active ul li {
    color: #fff;
}
.active button {
    background-color: #9F3919;
    border-color: transparent;
    color: #fff;
} */
.serviceCard:hover {
    transform: scale(1.2);
    background-color: #FF7143 !important;
    color: #fff !important;
    transition: 1s;
}

.serviceCard:hover span {
    color: #FFFFFF;
}

.serviceCard:hover h4 {
    color: #fff;
}

.serviceCard:hover ul li {
    color: #fff;
}

.serviceCard:hover button {
    background-color: #9F3919;
    border-color: transparent;
    color: #fff;
}