@media only screen and (max-width: 1610px) {
    .btnGroup .first {
        padding: 10px 29px;
    }

    .btnGroup {
        gap: 20px;
    }
}

@media only screen and (max-width: 1200px) {
    .container {
        width: 90%;
    }

    .getBtn a {
        padding: 11px 29px;
    }

    .menu nav ul {
        gap: 35px;
    }
}

@media only screen and (max-width: 1100px) {
    .blocks {
        flex-direction: column;
        row-gap: 50px;
        text-align: center;
    }

    .blocks:first-child div {
        width: 100%;
    }

    .blocks br {
        display: none;
    }

    .blocks h1 {
        font-size: 40px;
        line-height: 30px;
    }

    .blocks p {
        font-size: 17px;
        margin: 20px 0;
    }

    .btnGroup {
        justify-content: center;
    }

    .cards {
        gap: 50px;
        justify-content: center;
    }

    .title h2 {
        font-size: 30px;
        line-height: 30px;
    }

    .service {
        justify-content: center;
        gap: 50px;
    }
}

@media only screen and (max-width: 991px) {
    nav {
        display: none;
    }

    .getBtn {
        display: none;
    }

    .hamburgerMenu {
        display: block;
    }

    .hamburgerMenu img {
        width: 40px;
    }

    .hamburgerMenu button {
        background-color: transparent;
        border: 0;
    }

    .logos {
        gap: 50px;
        justify-content: center;
    }

    .logos img {
        width: 200px;
    }
}

@media only screen and (max-width: 700px) {
    .title {
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }

    .blocks h2 {
        font-size: 30px;
    }

    .blocks h1 {
        font-size: 30px;
    }
}

@media only screen and (max-width: 400px) {
    .secondBtnGroup button {
        width: 100px;
        height: 36px;
    }
}